.tw-about {
  width: 100%;
  background: #f9f6f3;
}
.tw-about .main-title {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 20px;
}
.tw-about .tw-about-wrapper {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
}
.tw-about .tw-about-wrapper .tw-about-section {
  margin-bottom: 30px;
}
.tw-about .tw-about-contact {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.tw-about .tw-about-contact .about-block-wrapper {
  padding: 22px 18px;
}
.tw-about .tw-about-contact .about-block {
  width: calc(33.3333333333% - 10px);
  text-align: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 4px 5px rgba(0, 0, 0, 0.05);
}
.tw-about .tw-about-contact .about-block .title {
  font-size: 16px;
  font-weight: 600;
  color: #242124;
}
.tw-about .tw-about-contact .btn-tw-about {
  background: #376559;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  width: 100%;
  text-decoration: none;
  text-align: center;
  padding: 10px 0px;
  transition: all 0.3s ease;
}
.tw-about .tw-about-contact .btn-tw-about:hover {
  opacity: 0.9;
}
.tw-about .tw-relate-product {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.tw-about .tw-relate-product .product-block {
  width: calc(33.3333333333% - 10px);
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 4px 5px rgba(0, 0, 0, 0.05);
}
.tw-about .tw-relate-product .product-block img {
  width: 100%;
}
.tw-about .tw-relate-product .product-block .content {
  padding: 15px;
}
.tw-about .tw-relate-product .product-block .content .title {
  font-size: 16px;
  color: #242124;
}
.tw-about .tw-relate-product .product-block .content .twdes {
  padding: 4px 0px;
  font-size: 13px;
  color: #62646a;
}
.tw-about a {
  text-decoration: none;
}

@media (max-width: 575px) {
  .tw-about .tw-about-contact .about-block, .tw-about .tw-relate-product .product-block {
    width: 100%;
  }
}
.twfaq {
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;
}

.twfaq__logo__image {
  margin-left: -13px;
  margin-bottom: 13px;
}

.twfaq__heading {
  color: var(--blue-dark);
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}

.twfaq__detail {
  border-bottom: 1px solid hsl(240deg, 5%, 91%);
  margin: 20px 0 0 0;
  padding: 5px 0 20px 0;
}

.twfaq__summary:hover,
.twfaq__summary:active {
  cursor: pointer;
}

.twfaq__detail[open] > .twfaq__summary {
  font-weight: 700;
}

.twfaq__summary {
  list-style: none;
}

.twfaq__summary::-webkit-details-marker {
  display: none;
}

.twfaq__summary {
  display: block;
  padding: 0;
  position: relative;
}

.twfaq__summary:after {
  display: inline-block;
  content: "+";
  background-repeat: no-repeat;
  background-position: right center;
  text-align: right;
}

details[open] .twfaq__summary:after {
  display: inline-block;
  width: 18px;
  height: 10px;
  content: "-";
  background-repeat: no-repeat;
  background-position: center right;
}

.twyt-show {
  background: #f9f6f3;
  padding: 20px;
}
.twyt-show .twyt-show-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  max-width: 1000px;
  margin: 0px auto;
}
.twyt-show-title {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}
.twyt-show .twyt-show-item {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 4px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 20px 10px;
}
.twyt-show .twyt-show-item__title {
  font-weight: 600;
  font-size: 14px;
  padding: 10px 0px 0px;
}
.twyt-show .twyt-show-item__short {
  padding: 4px 10px;
  border: 2px dashed;
  word-break: break-all;
}
.twyt-show .twyt-show-item p {
  margin: 0px 0px 8px;
}
.twyt-show .twyt-show-item img {
  max-width: 350px;
  width: 100%;
  border: 1px solid #e2e2e2;
  margin: 0px auto;
}

@media (max-width: 575px) {
  .twyt-show .twyt-show-wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}/*# sourceMappingURL=admin-style.css.map */